@import url(https://fonts.googleapis.com/css?family=Poiret+One);
.button {
  background-color: white;
  border-radius: 15px;
  border: 2px #fffffe solid;
  font-weight: bolder;
  font-size: 1.5vw;
  text-decoration: none;
  width: 15vw;
  padding: 5px 5px;
  margin: 2px 5px;
  font-family: "Poiret One", cursive;
}

.button-primary:hover {
  background: #ffffd6;
}
.button-primary:active {
  background: #ffff80;
}
.button-primary:focus {
  background: white;
}

.button-primary-dark:hover {
  background: #00c2a4;
}
.button-primary-dark:active {
  background: #006c5b;
}
.button-primary-dark:focus {
  background: #00ebc7;
}

.button-secondary:hover {
  background: #00c2a4;
}
.button-secondary:active {
  background: #006c5b;
}
.button-secondary:focus {
  background: #00ebc7;
}

.button-secondary-dark:hover {
  background: #00c2a4;
}
.button-secondary-dark:active {
  background: #006c5b;
}
.button-secondary-dark:focus {
  background: #00ebc7;
}