.quistion-container {
  font-size: 2vw;
  color: black;
  font-family: monospace;
  font-weight: bolder;
}
@media (max-width: 767px) {
  .quistion-container {
    font-size: 4vw;
    margin: 0 20px;
  }
}
.quistion-container p {
  padding-top: 40px;
  margin-bottom: 0;
}