@mixin text-style(){
    text-align: center;
    font-size: 2vw;
    color: black;
    font-family: monospace;
    font-weight: bolder;
    @media (max-width : $max-mobile){
        padding-top: 10px;
        font-size: 4vw;
    }
}