@import url(https://fonts.googleapis.com/css?family=Poiret+One);
footer {
  background-color: #00214d;
  color: white;
}

nav {
  background-color: 255;
}
nav i {
  color: #fffffe;
  font-size: 1.2em;
}
nav i:hover {
  color: #00ebc7;
}
nav i:focus {
  color: #fffffe;
}
nav .nav-link {
  color: #fffffe;
  font-size: 1.2em;
}
nav .nav-link:hover {
  color: #00ebc7;
}
nav .nav-link:focus {
  color: #fffffe;
}

.button {
  background-color: white;
  border-radius: 15px;
  border: 2px #fffffe solid;
  font-weight: bolder;
  font-size: 1.5vw;
  text-decoration: none;
  width: 15vw;
  padding: 5px 5px;
  margin: 2px 5px;
  font-family: "Poiret One", cursive;
}

.button-primary:hover {
  background: #ffffd6;
}
.button-primary:active {
  background: #ffff80;
}
.button-primary:focus {
  background: white;
}

.button-primary-dark:hover {
  background: #00c2a4;
}
.button-primary-dark:active {
  background: #006c5b;
}
.button-primary-dark:focus {
  background: #00ebc7;
}

.button-secondary:hover {
  background: #00c2a4;
}
.button-secondary:active {
  background: #006c5b;
}
.button-secondary:focus {
  background: #00ebc7;
}

.button-secondary-dark:hover {
  background: #00c2a4;
}
.button-secondary-dark:active {
  background: #006c5b;
}
.button-secondary-dark:focus {
  background: #00ebc7;
}

.button-start-quize {
  background-color: orangered;
  min-width: 10vw;
  height: auto;
  text-align: center;
  font-size: 2vw;
  color: black;
  font-family: monospace;
  font-weight: bolder;
  border-radius: 10px;
  border: 5px #00214d solid;
  margin-top: 25vh;
}
@media (max-width: 767px) {
  .button-start-quize {
    padding-top: 10px;
    font-size: 5vw;
  }
}
.button-start-quize:hover {
  background-color: #e63e00;
}
.button-start-quize:active {
  background-color: #b33000;
  border-color: #fffffe;
}
@media (max-width: 767px) {
  .button-start-quize {
    min-width: 30vw;
  }
}

.try-agin {
  margin: 0;
  padding: 0;
  font-size: 1.25vw;
}
@media (max-width: 767px) {
  .try-agin {
    font-size: 3.25vw;
  }
}

header .mask {
  background-color: rgba(0, 0, 0, 0.068);
}
header .titlel {
  color: whitesmoke;
}
header .titlel h1 {
  color: whitesmoke;
  font-weight: bold;
  font-size: 12vw;
  font-family: "Poiret One", cursive;
}
header .titlel h5 {
  font-size: 2vw;
}
header .titlel button {
  color: #00214d;
}
header .titlel a {
  text-decoration: none;
  color: #00214d;
}

.quiz-body {
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-align: center;
}

.card-containere {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .card-containere {
    display: block;
    text-align: center;
  }
}
.card-containere .card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px 0;
  width: 22vw;
  min-height: 13vw;
}
@media (max-width: 767px) {
  .card-containere .card {
    width: 100%;
    min-height: 100px;
    margin: 10px 0;
  }
}
.card-containere .card iconify-icon {
  display: none;
  position: absolute;
  right: 0;
  align-self: flex-start;
  margin-top: 3px;
  margin-right: 3px;
  font-size: 3vw;
  color: black;
}
@media (max-width: 767px) {
  .card-containere .card iconify-icon {
    font-size: 7vw;
  }
}
.card-containere .card p {
  margin: 0 7px;
  color: #fffffe;
  font-size: 1.5vw;
  font-family: monospace;
}
@media (max-width: 767px) {
  .card-containere .card p {
    font-size: 5vw;
  }
}
.card-containere .card button {
  border: none;
  background-color: rgba(255, 222, 173, 0);
  width: 90%;
  height: 90%;
}

.carde-1 {
  border: 4px #d40023 solid;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #ff5470;
}
.carde-1:hover {
  background-color: #ff0830;
}
.carde-1:active {
  background-color: #d40023;
}

.carde-2 {
  border: 4px #006c5b solid;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #00ebc7;
}
.carde-2:hover {
  background-color: #009f86;
}
.carde-2:active {
  background-color: #006c5b;
}

.carde-3 {
  border: 4px #012e62 solid;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: rgb(3, 106, 224);
}
.carde-3:hover {
  background-color: #024695;
}
.carde-3:active {
  background-color: #012e62;
}

.carde-4 {
  border: 4px #655601 solid;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: #e3c103;
}
.carde-4:hover {
  background-color: #988002;
}
.carde-4:active {
  background-color: #655601;
}

.carde-animation-correct {
  background-color: green;
  border: 4px black solid;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.carde-animation-false {
  background-color: red;
  border: 4px black solid;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.carde-animation-sleep {
  background-color: gray;
  border: 4px black solid;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.quistion-container {
  text-align: center;
  font-size: 2vw;
  color: black;
  font-family: monospace;
  font-weight: bolder;
  min-height: 15vh;
}
@media (max-width: 767px) {
  .quistion-container {
    padding-top: 10px;
    font-size: 5vw;
  }
}
@media (max-width: 767px) {
  .quistion-container {
    min-height: 12vh;
  }
}

.progress-barr-title {
  text-align: center;
  font-size: 2vw;
  color: black;
  font-family: monospace;
  font-weight: bolder;
}
@media (max-width: 767px) {
  .progress-barr-title {
    padding-top: 10px;
    font-size: 5vw;
  }
}
@media (max-width: 767px) {
  .progress-barr-title {
    font-size: 6vw;
  }
}

.progress-bar-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-bar-container .bar {
  width: 20vw;
  height: 12px;
  background-color: #00ebc7;
  width: 15vw;
  height: 6px;
}
.progress-bar-container iconify-icon {
  color: #00214d;
  font-size: 4vw;
  position: absolute;
  right: 0;
}
@media (max-width: 767px) {
  .progress-bar-container iconify-icon {
    font-size: 8vw;
  }
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffffe;
  width: 3vw;
  height: 3vw;
  border-radius: 50px;
}
.circle-container:hover {
  background-color: rgb(3, 106, 224);
}
@media (max-width: 767px) {
  .circle-container {
    width: 7vw;
    height: 7vw;
  }
}

.circle {
  margin: 2px;
  font-weight: bold;
  font-size: 2vw;
  color: #fffffe;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5vw;
  height: 2.5vw;
  background: rgb(3, 106, 224);
  border-radius: 50px;
}
.circle:active {
  background-color: #00ebc7;
}
@media (max-width: 767px) {
  .circle {
    width: 5.5vw;
    height: 5.5vw;
  }
}

.raduis, #BarTime, #progressTime {
  border-radius: 10px;
}

#progressTime {
  display: flex;
  align-items: center;
  width: 100%;
  height: 15px;
  background-color: #00214d;
  margin-top: 30px;
}

#BarTime {
  width: 100%;
  height: 100%;
  background-color: #00ebc7;
}

body {
  background-color: #EE9520;
}

.page-container {
  padding: 0 40px;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
@media (max-width: 767px) {
  .page-container {
    padding: 10px;
  }
}

.quistion-container {
  text-align: center;
  font-size: 2vw;
  color: black;
  font-family: monospace;
  font-weight: bolder;
  min-height: 15vh;
}
@media (max-width: 767px) {
  .quistion-container {
    padding-top: 10px;
    font-size: 5vw;
  }
}
@media (max-width: 767px) {
  .quistion-container {
    min-height: 12vh;
  }
}

.documentation-body {
  margin-top: 5vh;
}
.documentation-body li {
  text-align: center;
  font-size: 2vw;
  color: black;
  font-family: monospace;
  font-weight: bolder;
  text-align: start;
  font-size: 2vw;
}
@media (max-width: 767px) {
  .documentation-body li {
    padding-top: 10px;
    font-size: 5vw;
  }
}
@media (max-width: 767px) {
  .documentation-body li {
    font-size: 6vw;
  }
}

.resulte-body {
  text-align: center;
  font-size: 2vw;
  color: black;
  font-family: monospace;
  font-weight: bolder;
  margin-top: 2vh;
  text-align: start;
}
@media (max-width: 767px) {
  .resulte-body {
    padding-top: 10px;
    font-size: 5vw;
  }
}
.resulte-body .result-container {
  background-color: rgba(115, 255, 0, 0.311);
}
.resulte-body .result-container .result {
  color: #00214d;
}
.resulte-body .result-container .question-container {
  margin-top: 2vh;
  padding-right: 2vw;
  display: flex;
}
.resulte-body .result-container .question-container .index {
  background-color: green;
  margin-left: 2vw;
}
.resulte-body .result-container .question-container .question {
  margin-left: 2vw;
}
.resulte-body .result-container .responce-container {
  margin-top: 0.5vh;
  padding-right: 2vw;
  display: flex;
}
.resulte-body .result-container .responce-container iconify-icon {
  width: 3vw;
  margin: 1.25vh 2vw;
}
@media (max-width: 767px) {
  .resulte-body .result-container .responce-container iconify-icon {
    width: 15vw;
    margin-top: 1vh;
  }
}
.resulte-body .result-container .line {
  background-color: #00214d;
  height: 2px;
  width: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.demo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 140px;
  margin-top: -70px;
  padding: 10px;
  border-radius: 20px;
  transform: translateX(-50%);
}
.demo__colored-blocks {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 0;
  width: 500px;
  height: 100%;
  margin-left: -250px;
  padding: 10px;
  border-radius: 20px;
  perspective: 1000px;
  -webkit-animation: demoAnim 4s ease-in-out infinite, contAnim 4s infinite;
          animation: demoAnim 4s ease-in-out infinite, contAnim 4s infinite;
}
.demo__colored-blocks-rotater {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -webkit-animation: rotation 1.3s linear infinite;
          animation: rotation 1.3s linear infinite;
}
.demo__colored-blocks-inner {
  overflow: hidden;
  position: relative;
  height: 100%;
  background: #32386D;
  border-radius: inherit;
}
.demo__colored-block {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300%;
  height: 300%;
  transform-origin: 0 0;
}
.demo__colored-block:nth-child(1) {
  transform: rotate(0deg) skewX(-30deg);
  background-color: #FD3359;
}
.demo__colored-block:nth-child(2) {
  transform: rotate(120deg) skewX(-30deg);
  background-color: #F4D302;
}
.demo__colored-block:nth-child(3) {
  transform: rotate(240deg) skewX(-30deg);
  background-color: #21BDFF;
}
.demo__inner {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.demo__numbers {
  overflow: visible;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
}
.demo__numbers-path {
  fill: none;
  stroke-width: 10px;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 0, 518.055065155;
  stroke-dashoffset: 0;
  -webkit-animation: numAnim 4s ease-in-out infinite;
          animation: numAnim 4s ease-in-out infinite;
  opacity: 0;
}
.demo__text {
  position: absolute;
  left: 50%;
  top: 0;
  width: 500px;
  height: 100%;
  margin-left: -250px;
  text-align: center;
  line-height: 140px;
  font-size: 100px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 15px;
  transform: translateX(10px);
  -webkit-animation: hideText 4s infinite;
          animation: hideText 4s infinite;
}

@-webkit-keyframes contAnim {
  15%, 100% {
    margin-left: -250px;
    width: 500px;
  }
  25%, 90% {
    margin-left: -70px;
    width: 140px;
  }
}

@keyframes contAnim {
  15%, 100% {
    margin-left: -250px;
    width: 500px;
  }
  25%, 90% {
    margin-left: -70px;
    width: 140px;
  }
}
@-webkit-keyframes numAnim {
  15% {
    stroke-dasharray: 0, 518.055065155;
    stroke-dashoffset: 0;
    opacity: 0;
  }
  25%, 41% {
    opacity: 1;
    stroke-dasharray: 144.4256591797, 518.055065155;
    stroke-dashoffset: -40;
  }
  53%, 66% {
    stroke-dasharray: 136.0216217041, 518.055065155;
    stroke-dashoffset: -227.238697052;
  }
  76% {
    stroke-dasharray: 113.4751205444, 518.055065155;
    stroke-dashoffset: -445.8995704651;
  }
  88%, 100% {
    stroke-dasharray: 72.1554946899, 518.055065155;
    stroke-dashoffset: -445.8995704651;
  }
  92% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes numAnim {
  15% {
    stroke-dasharray: 0, 518.055065155;
    stroke-dashoffset: 0;
    opacity: 0;
  }
  25%, 41% {
    opacity: 1;
    stroke-dasharray: 144.4256591797, 518.055065155;
    stroke-dashoffset: -40;
  }
  53%, 66% {
    stroke-dasharray: 136.0216217041, 518.055065155;
    stroke-dashoffset: -227.238697052;
  }
  76% {
    stroke-dasharray: 113.4751205444, 518.055065155;
    stroke-dashoffset: -445.8995704651;
  }
  88%, 100% {
    stroke-dasharray: 72.1554946899, 518.055065155;
    stroke-dashoffset: -445.8995704651;
  }
  92% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes demoAnim {
  15% {
    border-radius: 20px;
    transform: rotate(0);
  }
  30%, 43% {
    border-radius: 50%;
    transform: rotate(360deg);
  }
  52%, 65% {
    border-radius: 0;
    transform: rotate(720deg);
  }
  78%, 90% {
    border-radius: 50%;
    transform: rotate(1080deg);
  }
  100% {
    border-radius: 20px;
    transform: rotate(1440deg);
  }
}
@keyframes demoAnim {
  15% {
    border-radius: 20px;
    transform: rotate(0);
  }
  30%, 43% {
    border-radius: 50%;
    transform: rotate(360deg);
  }
  52%, 65% {
    border-radius: 0;
    transform: rotate(720deg);
  }
  78%, 90% {
    border-radius: 50%;
    transform: rotate(1080deg);
  }
  100% {
    border-radius: 20px;
    transform: rotate(1440deg);
  }
}
@-webkit-keyframes hideText {
  15%, 100% {
    opacity: 1;
  }
  20%, 96% {
    opacity: 0;
  }
}
@keyframes hideText {
  15%, 100% {
    opacity: 1;
  }
  20%, 96% {
    opacity: 0;
  }
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}/*# sourceMappingURL=main.css.map */