

$color-primary : #00ebc7;
$color-secondary : #ff5470;
$color-tertiary : #fde24f;

$nav-color : red($color: #ffffff00);

$background-color : #fffffe;
$button-color : #00ebc7;
$strock-color : #00214d;
$main-color : #fffffe;
$headline-color :  #00214d;
$button-text-color : #00214d;
$paragraph-color : #1b2d45;
$button-color-2 : lighten($main-color , 1%);

$color-card-1 : $color-secondary;
$color-card-2 : $color-primary;
$color-card-3 : rgb(3, 106, 224);
$color-card-4 : darken($color-tertiary , 20%);





