header{
    
    .mask{
        background-color: rgba(0, 0, 0, 0.068)
    }
    .titlel{
        color: whitesmoke;
        h1{
            color: whitesmoke;
            font-weight: bold;
            font-size:12vw;
            font-family: 'Poiret One', cursive;
        }
        h5{
            font-size:2vw;
        }

        button{
            color: $strock-color;
        }
        a{
            text-decoration: none;
            color: $strock-color;
        }
        
    }

}